<div class="container">
  <h1>{{uye?.KullaniciAdi}} Adlı Üyeye Ait Haberler</h1>
  <h3 style="color:red" *ngIf="makaleler?.length==0">Henüz Bu Üye Haber Eklemedi!</h3>
  <div *ngFor="let makale of makaleler">
    <mat-card style="margin-top: 15px;" class="example-card mycard" >
      <mat-card-subtitle>{{makale.KategoriAdi}}</mat-card-subtitle>
      <mat-card-title [routerLink]="['/makale',makale.MakaleId]">{{makale.Baslik}}</mat-card-title>
      <mat-card-content>
        <img [routerLink]="['/makale',makale.MakaleId]" *ngIf="makale.Foto" src="{{apiServis.apiUrlv2 + 'Dosyalar/Makale/'+ makale.Foto}}" style="width: 20%; cursor: pointer;"
          />
          <br>
          <br>
          <mat-card-subtitle>{{makale.Okunma}} kez okundu</mat-card-subtitle>
        
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button  [routerLink]="['/makale',makale.MakaleId]"mat-button>Detay</button>
        <button  [routerLink]="['/uyemakale',makale.UyeId]" mat-button>{{makale.UyeKadi}} tarafından yazıldı</button>
      </mat-card-actions>
    </mat-card>
  </div>


</div>